{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Adams Albums</title>
        <link rel="stylesheet" href="{% static 'css/adams_albums.css' %}">
    </head>
    <body>
        <header class = "header">
            <h1><a href="/">Adam's Albums</a></h1>
        </header>
        {% for post in posts %}
        <article class = "album-card">
            <time>Created: {{ Album.created_at }}</time>
            <h2><a href="">{{ Album.title }}</a></h2>
            <p>{{ Album.artis }}</p>
        </article>
        {% endfor %}
    </body>
</html>