{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>Adams Albums</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>Adam's Albums</header>
            {% if user.is_authenticated %}
                <a href="{% url 'album_new' %}" class="top-menu">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
            {% endif %}
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>